<%- include('./partials/header') %>

<div class="container">
    <h4 class="text-center">View Clients</h4>
    <table class="table table-bordered" id="farmerTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th>Actions</th>
       
        </tr>
      </thead>
      <tbody>
       
  
         <tr>
            <td>Jihn maina</td>
            <td>0723563563</td>
            <td>g@gmail.com</td>
             <td>
                 <div class="row">
                   
                    <div class="col-xs-12">
                      <form >
                        <button class="btn btn-sm btn-danger">Remove</button>
                      </form>
                      
                    </div>
                 </div>
             </td> 
     
        </tr>

      </tbody>
    </table>
    
    </div>

  
  
<%- include('./partials/footer') %>
  
  