<!-- start footer-->
<div class="footer " class="fixed-bottom">
    <div class="inner-footer">
    <div class="footer-items">
    <h1>SFS</h1>
    <p>Smart farmers’ system is a progressive web-app platform that will be used by sellers and buyers of farm produce particularly farmers. SFS system enhances transparecncy and availability of potential market for your farm produce</p>
    </div>
    <div class="footer-items">
    <h2>Quick Links</h2>
    <div class="border"></div>
    <ul>
    
    <a href=""><li >Facebook</li></a>
    <a href=""><li>Twitter</li></a>
   
    </ul>
    </div>
     <div class="footer-items">
    <h2>Contact Us</h2>
    <div class="border"></div>
    <ul>
    <li><i class="glyphicon glyphicon-map-marker " aria-hidden="true"></i>P.O Box 222 Nairobi</li>
    <li><i class="glyphicon glyphicon-phone  "aria-hidden="true"></i>+254 0202012867</li>
    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>info@sfs.or.ke</li>
    
    </ul>
    
    </div>
    
    
    
    </div>
    </div>
    <div class="footer-bottom">
    copyright &copy; All Rights Reserved.
    </div>
    <!--end footer-->
 
</body>


</html>
