<%- include('./partials/clientheader') %>

<div id='client-panel'>
    <div class="hero return-index-blog">
      <div class="body">
        <strong class="heading">WElCOME TO SMART FARMERS' system CLIENT/BUYERS PANEL</strong>
        <br>
        You Order, We Deliver
      </div>
    </div>
 
  <style>
        #client-panel {
    background-image: url("/img/orderclient.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    padding: 15%;
          
   

}

  </style>
   </div>
<!-- <img src="/img/orderclient.jpg" class="mx-auto d-block" style="width:100%" alt="armer landing page cannot display">  -->
  
<%- include('./partials/footer') %>
  
  