<html>
<head>
<title>HOME</title>
 <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="bootstrap/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/stylee.css">

<!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
   <style>
.showcase{
  background-image: url(img/homescreen.png) ;
  background-size:50%;
 }
</style>
<!-- start of nav bar-->

</head>
<div class="navbar">
 
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
        </div>
          <div class="collapse navbar-collapse" id="myNavbar" style="background-color: none">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.php">HOME</a></li>
       
        
        <li><a href="contact.html">Contact</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#" >                   
           <span class="glyphicon glyphicon-user"></span>Signup AS
             <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/farmersignup">A Farmer</a></li>
            <li><a href="/clientsignup">A Client</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<!-- end of nav bar-->

<body>
  <div id='show_bg'>
    <div class="hero return-index-blog">
      <div class="body">
        <strong class="heading">WelCOME TO SMART FARMERS' SYSYTM</strong>
        <br>
        Home for unlimited opportunities in  Agriculture Technologies
      </div>
    </div>
  </div>
  <style>
        #show_bg {
    background-image: url("/img/strawberry.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    padding: 70px;

          
   

}

  </style>
  <!-- <img src="/img/strawberry.jpg" class="mx-auto d-block" style="width:100%" alt=" welcome landing page cannot display">  -->


</body>

<!-- <footer></footer> -->
<div class="footer " class="fixed-bottom">
<div class="inner-footer">
<div class="footer-items">
<h1>SFS</h1>
<p>Smart farmers’ system is a progressive web-app platform that will be used by sellers and buyers of farm produce particularly farmers. SFS system enhances transparecncy and availability of potential market for your farm produce.</p>
</div>
<div class="footer-items">
<h2>Quick Links</h2>
<div class="border"></div>
<ul>

<a href=""><li>Facebook</li></a>
<!--facebook icon-->
<!-- <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a> -->
<a href=""><li>Twitter</li></a>
<a href="/admin"><li> Admin Login</li></a>
</ul>
</div>
 <div class="footer-items">
<h2>Contact Us</h2>
<div class="border"></div>
<ul>
<li><i class="glyphicon glyphicon-map-marker " aria-hidden="true"></i>P.O Box 222 Nairobi</li>
<li><i class="glyphicon glyphicon-phone  "aria-hidden="true"></i>+254 0202012867</li>
<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>info@sfss.or.ke</li>

</ul>

</div>



</div>
</div>
<div class="footer-bottom">
copyright &copy; All Rights Reserved.
</div>

</html>