<%- include('../partials/farmerheader') %>


  
  <div class="container">
    <!--upload form-->
    <!-- <input type="file" id="file">
        </span> -->
        <!--./file input example -->
        <!-- <p>&nbsp;</p> -->
        <% try { if(!error) { %>
          <div class="alert alert-success text-center" role="alert">
               Product Added Successfully!
          </div>
        <% }else if(error != undefined ) {%>
          <div class="alert alert-danger text-center" role="alert">
            Product not added , try again !
          </div>
        <% } }catch(e){} %>
        <h3 class="text-info">Upload Products</h3>
        <p><strong>Note:</strong> Kindly upload the products for sale here</p>
        <!--image file upoad sample-->
        <div class="box">
          <!-- fileuploader view component -->
          <form action="/farmer/addproduct" method="post" class="text-center" enctype="multipart/form-data">
           
            <div class="margin-bottom-20"> 
              <img style="width: 300px;height: 200px;" class="thumbnail box-center margin-top-20" id="previewImage" alt="No image" src="http://www.washaweb.com/tutoriaux/fileupload/imgs/image-temp-220.png">
            </div>
           

              <!-- ./fileuploader view component -->
          <div class="row">
            <div class="col-sm-10">
              <!--file input example -->
           <span class="control-fileupload">
            <label for="file" style="float:left">Choose a file :</label>
            <input name="file" onchange="loadFile(event)" accept="image/gif, image/jpeg, image/png" type="file" id="file">
          </span>
          <!--./file input example -->
          <!-- <p>&nbsp;</p> -->
            </div>

          
          </div>
          <hr>
          <!-- start table -->
         
          <table class="table table-bordered" id="farmerTable">
            <thead>
              <tr>
                <th scope="col">Crop Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">
                  <input type="text" name="name" ></td>
                <td><input name="quantity" type="text"> </td>
                <td><input name="price" type="text"></td>
                <td>
                  <button class="btn btn-primary btn-sm" type="submit" value="submit"> Submit</button>
                  <button class="btn btn-danger btn-sm" type="button" value="delete"> Cancel</button>

                </td>
              </tr>
             
            </tbody>
          </table>
      


            <p>
              <button type="submit" class="btn btn-sm" name="delete"><i class="icon-remove"></i> Remove</button>
              <button type="submit" class="btn btn-primary btn-sm" id="save" name="save"><i class="icon-ok icon-white"></i>Save</button>
            </p>
          </form>
        </div>
        <hr>
      </div>

      <script>
        var loadFile = function(event) {
            var image = document.getElementById('previewImage');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
      </script>

      <%- include('../partials/footer') %>
  